version: '3.2'

services:
  redis:
    image: sameersbn/redis:latest
    command:
    - --loglevel warning
    volumes:
    - $PWD/data/redis:/var/lib/redis
    deploy:
      restart_policy:
        condition: on-failure

  postgresql:
    image: sameersbn/postgresql:9.5-4
    volumes:
      - $PWD/data/postgresql:/var/lib/postgresql
    env_file:
      - postgresql.env
    deploy:
      restart_policy:
        condition: on-failure

  gitlab:
    image: sameersbn/gitlab:9.5.1
    ports:
      - "10080:80"
      - "10022:22"
    volumes:
      - $PWD/data/gitlab:/home/git/data
    env_file:
      - gitlab.env
    deploy:
      restart_policy:
        condition: on-failure

  mailer:
    image: catatnight/postfix
    ports:
      - "10025:25"
    env_file:
      - smtp.env
    deploy:
      restart_policy:
        condition: on-failure
